<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medissity</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://www.svgrepo.com/show/28498/letter-m.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
    tr[i].style.display = "none";
    }
    }
    }
    }
    </script>

    <style>

        .btn-light:hover {
   background-image: linear-gradient(to right,   #8fc9f0 0%,    #8fc9f0 51%,#448ccc 100%);
         background-color:#ffffff;
    background-size: 200% auto;
    color: #ffffff !important;
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
    border: none !important;

}
    </style>

    <style>


    .column {
  float: left;
  padding: 10px;
}

.left, .right, .middle {
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

  /* Modify the background color */

        .navbar-custom {
            background-color:  #f0f4ec;
        }
        /* Modify brand and text color */

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: #f0f4ec;
        }</style>

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-custom navbar-expand fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" th:href="@{/diagnostics/}"> <i class="fa-solid fa-house"></i> Acasă</a>

                </li>

                <li class="nav-item dropdown">

                    <a style="color:black" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" ><i class="fa-solid fa-square-plus"></i>
                        Adăugare
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/diagnostics/add}" class="dropdown-item" aria-pressed="true"> <i class="fa-solid fa-plus"></i> Adaugă un diagnostic</a>
                        </li>

                        <li><a th:href="@{/medical-tests/add}" class="dropdown-item" aria-pressed="true"><i class="fa-solid fa-plus"></i> Adaugă analize</a>
                        </li>

                        <li><a th:href="@{/imaging/add}" class="dropdown-item" aria-pressed="true"><i class="fa-solid fa-plus"></i> Adaugă imagistică</a>
                        </li>

                        <li><a th:href="@{/symptoms/add}" class="dropdown-item" aria-pressed="true"><i class="fa-solid fa-plus"></i> Adaugă un simptom</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">

                    <a style="color:black" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-clipboard-list"></i>
                        Liste
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/medical-tests/}" class="dropdown-item"  aria-pressed="true"><i class="fa fa-list" aria-hidden="true"></i> Listă analize</a></li>
                        <li><a th:href="@{/imaging/}" class="dropdown-item"  aria-pressed="true"><i class="fa fa-list" aria-hidden="true"></i> Listă imagistică</a>
                        <li><a th:href="@{/symptoms/}" class="dropdown-item"  aria-pressed="true"><i class="fa fa-list" aria-hidden="true"></i> Listă simptome</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a style = "color:black" class="nav-link active" aria-current="page" th:href="@{/policies/}">Polițe</a>
                </li>
            </ul>
            <div style="float:right">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="text" id="myInput" onkeyup="function()" placeholder="Caută..." aria-label="Search" >
            </form>
        </div>
        </div>
    </div>
</nav>



<!--List-->
<br>
<br>
<br>
<h1 style="margin-bottom:15px"><center>Listă diagnostice</center></h1>
<div style="margin-right:75px;margin-left:75px;" class="accordion" id="accordionExample" >
    <div class="accordion-item "  th:each="diagnostic: ${diagnostics}">
        <div  id="myDIV"> <h2 class="accordion-header" th:id="heading+${diagnostic.id}">
            <button class="accordion-button collapsed d-block text-center btn btn-light" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+${diagnostic.id}" aria-expanded="true" th:aria-controls="collapse+${diagnostic.id}" th:text="${diagnostic.name}" >
            </button>
        </h2></div>

        <div th:id="collapse+${diagnostic.id}" class="accordion-collapse collapse" th:aria-labelledby="heading+${diagnostic.id}" data-bs-parent="#accordionExample">
            </p>
            <div>
                <a onclick="return confirm('Are you sure to delete?')" th:href="@{/diagnostics/delete/{id}(id=${diagnostic.id})}" title="Șterge" >
                    <i class="fa-solid fa-trash fa-lg" style="float: right; padding: 5px; color:#c4443c" ></i></a>

                <a th:href="@{/diagnostics/edit/{id}(id=${diagnostic.id})}" title="Editează">
                    <i class="fa-solid fa-pen-to-square fa-lg" style="padding: 5px; float:right; " ></i></a>
            </div>
            <div style="margin-left:60px" class="row">
                <div class="column left">
                    <center><b><i class="fa-solid fa-syringe" style="color:#60ac44"></i>Analize</b></center>
                    <!--                    <a th:href="@{/diagnostics/add}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Adaugă analize acestui diagnostic</a>-->
                    <div class="accordion-body"  th:text="${diagnostic.medicalTestNames}" >
                    </div>
                </div>
                <div class="column middle">
                    <center><b><i class="fa-solid fa-x-ray" style="color:#f1a718"></i>Imagistica</b></center>
                    <!--                    <a th:href="@{/diagnostics/add}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Adaugă imagistică acestui diagnostic</a>-->
                    <div class="accordion-body" th:text="${diagnostic.medicalImagingNames}">
                    </div>
                </div>
                <div class="column right">
                    <center><b><i class="fa-solid fa-head-side-cough" style="color:#04acac"></i>Simptome</b></center>
                    <!--                    <a th:href="@{/diagnostics/add}" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Adaugă simptome acestui diagnostic</a>-->
                    <div class="accordion-body" th:text="${diagnostic.symptomNames}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold"></h5>
                <p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
            </div>
            <h5 class="text-uppercase font-weight-bold">Medissity</h5>
            <div class="footer-copyright text-center py-3">© 2022
                <a href="https://www.telios.ro/">Powered by<br><img src="https://www.telios.ro/hubfs/Telios-logos/Telios-Care-logo-color.svg" class="hs-image-widget " style="width:150px;border-width:0px;border:0px;" width="200" alt="Telios-Care-logo-color" title="Telios-Care-logo-color"></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myDIV *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</body>
</html>